{% extends "core/base.html" %} {% block content %}
<h1>2020 yfirlit</h1>
<div class="ui segment">
  <p>
    Ég vil þakka ykkur fyrir virkilega skemmtilegt ár og sérstaklega Sölva sem tókst að koma liði
    sem hafði aðeins tapað 5 leikjum samtals seinustu 2 ár niður í 5 sigra í ár.
  </p>
  <h2>Sigurvegari</h2>
  <img
    src="https://fiver-media.s3.amazonaws.com/divers.png?AWSAccessKeyId=AKIAID4CXZ6VPK7RMG3Q&Signature=AyDICddSrbtKWazjROtFhg2aoI4%3D&Expires=1630364808"
  />
  <p>
    Til hamingju <strong>Andri</strong> fyrsta sigurinn sinn. Eftir að hafa verið spáð fyrsta sæti,
    rétt slefaði liðið í úrslitakeppnina, en endaði á því að vinna allt þar.
  </p>
  <h2>Year in numbers</h2>
  <table class="ui striped table">
    <thead>
      <tr>
        <th class="three wide">Team</th>
        <th class="one wide">Final place</th>
        <th class="one wide">Seed</th>
        <th class="one wide">Proj. place</th>
        <th class="one wide">Draft Order</th>
        <th class="one wide">Waiver adds</th>
        <th class="one wide">Trades made</th>
        <th class="one wide">Coulda won</th>
        <th class="one wide">Woulda lost</th>
        <th class="one wide">Eff.</th>
        <th class="two wide">All-play record</th>
        <th class="one wide">High scorer</th>
        <th class="one wide">Low scorer</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Álftanes D.S. Divers</td>
        <td class="positive">1st</td>
        <td>5th</td>
        <td class="positive">1st</td>
        <td class="negative">12th</td>
        <td>5</td>
        <td>3</td>
        <td>6</td>
        <td>5</td>
        <td>82.9%</td>
        <td>119-57</td>
        <td>1</td>
        <td class="positive">0</td>
      </tr>
      <tr>
        <td>Alftanes Armadillos</td>
        <td>2nd</td>
        <td>3rd</td>
        <td>7th</td>
        <td>11th</td>
        <td>7</td>
        <td class="positive">4</td>
        <td>3</td>
        <td>7</td>
        <td>75.5%</td>
        <td>91-85</td>
        <td class="negative">0</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Poplar Hill Paladins</td>
        <td>3rd</td>
        <td>2nd</td>
        <td>4th</td>
        <td>10th</td>
        <td>2</td>
        <td>2</td>
        <td class="positive">2</td>
        <td>6</td>
        <td class="positive">86.8%</td>
        <td>136-40</td>
        <td>2</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Arkham Cultists</td>
        <td>4th</td>
        <td class="positive">1st</td>
        <td>2nd</td>
        <td>9th</td>
        <td>3</td>
        <td>2</td>
        <td class="positive">2</td>
        <td>5</td>
        <td>82.9%</td>
        <td class="positive">144-32</td>
        <td class="positive">6</td>
        <td class="positive">0</td>
      </tr>
      <tr>
        <td>Brussels Bruisers</td>
        <td>5th</td>
        <td>4th</td>
        <td>11th</td>
        <td>8th</td>
        <td>2</td>
        <td class="negative">0</td>
        <td class="positive">2</td>
        <td class="positive">8</td>
        <td>80.3%</td>
        <td>94-82</td>
        <td class="negative">0</td>
        <td class="positive">0</td>
      </tr>
      <tr>
        <td>Copavogur Cobras</td>
        <td>6th</td>
        <td>6th</td>
        <td>5th</td>
        <td>7th</td>
        <td class="positive">14</td>
        <td class="negative">0</td>
        <td>5</td>
        <td>3</td>
        <td>80.1%</td>
        <td>111-65</td>
        <td>4</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Kwisatz Haderachs</td>
        <td>7th</td>
        <td>7th</td>
        <td class="negative">12th</td>
        <td>2nd</td>
        <td>2</td>
        <td>3</td>
        <td>3</td>
        <td>6</td>
        <td>81.8%</td>
        <td>56-120</td>
        <td class="negative">0</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Garðabær Gorillas</td>
        <td>8th</td>
        <td>9th</td>
        <td>10th</td>
        <td class="positive">1st</td>
        <td>12</td>
        <td class="positive">4</td>
        <td>5</td>
        <td>6</td>
        <td>80.9%</td>
        <td class="negative">42-134</td>
        <td class="negative">0</td>
        <td class="negative">3</td>
      </tr>
      <tr>
        <td>Garðabær Guinea Pigs</td>
        <td>9th</td>
        <td>11th</td>
        <td>8th</td>
        <td>5th</td>
        <td class="negative">1</td>
        <td class="negative">0</td>
        <td>6</td>
        <td>5</td>
        <td>81.0%</td>
        <td>76-100</td>
        <td>1</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Copacobana Haff Eaters</td>
        <td>10th</td>
        <td>8th</td>
        <td>3rd</td>
        <td>3rd</td>
        <td>4</td>
        <td>2</td>
        <td>6</td>
        <td>5</td>
        <td>77.8%</td>
        <td>72-104</td>
        <td>1</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Karens of Kópavogur</td>
        <td>11th</td>
        <td>10th</td>
        <td>9th</td>
        <td>6th</td>
        <td>6</td>
        <td>1</td>
        <td>8</td>
        <td>5</td>
        <td>73.6%</td>
        <td>60-116</td>
        <td>1</td>
        <td class="positive">0</td>
      </tr>
      <tr>
        <td>Akureyri Admirals</td>
        <td class="negative">12th</td>
        <td class="negative">12th</td>
        <td>6th</td>
        <td>4th</td>
        <td>2</td>
        <td class="negative">0</td>
        <td class="negative">12</td>
        <td class="negative">0</td>
        <td class="negative">71.4%</td>
        <td>55-121</td>
        <td class="negative">0</td>
        <td class="negative">3</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}
