{% extends "core/base.html" %}
{% block extra_style %}
<meta property="og:title" content="{{ object.prediction_place }}{{ object.prediction_place_suffix }} place" />
<style type="text/css">
  .prediction-place {
    margin: 5px 0px !important;
    color: {{ object.secondary_color }} !important;
  }
  .background-team {
    background-color: {{ object.base_color }} !important;
    color: {{ object.secondary_color }} !important;
  }
  .team {
    color: {{ object.base_color }} !important;
  }
</style>
{% endblock extra_style %}
{% block content %}
<h1>Fantasy Invitational: Victory Equals Riches</h1>
<div class="ui grid">
  <div class="twelve wide column">
    <div class="ui raised segment">
      <a class="ui red right ribbon label"
        >{{ object.last_year_place }}</a
      >
      <h2 class="ui header team">{{ object.name }}</h2>
      <p>{{ object.description }}</p>
    </div>
    <div class="ui segment">
      <div class="ui top attached label background-team" style="">Quarterbacks</div>
      <a class="ui red right ribbon label"
        >{{ object.quarterbacks_rating }}</a
      >
      <p>
        <img
          class="ui medium left floated image"
          src="{{ object.quarterback_image.url }}"
        />{{ object.quarterbacks }}
      </p>
    </div>
    <div class="ui segment">
      <div class="ui top attached label background-team">Running Backs</div>
      <a class="ui red right ribbon label"
        >{{ object.running_backs_rating }}</a
      >
      <p>
        <img
          class="ui medium left floated image"
          src="{{ object.running_back_image.url }}"
        />
        {{ object.running_backs }}
      </p>
    </div>
    <div class="ui segment">
      <div class="ui top attached label background-team">Wide Receivers / Tight Ends</div>
      <a class="ui red right ribbon label"
        >{{ object.receivers_rating }}</a
      >
      <p>
        <img
          class="ui medium left floated image"
          src="{{ object.receiver_image.url }}"
        />
        {{ object.receivers }}
      </p>
    </div>
    <h2 class="ui header team">Roster</h2>
    <table class="ui very compact striped table">
      <thead></thead>
      <tbody>
        <tr class="background-team">
          <td class="one wide">QB</td>
          <td class="four wide">Player</td>
          <td class="four wide">Acquired</td>
          <td>Auction Price</td>
          <td>Rookie Pick</td>
          <td>Waiver Price</td>
        </tr>
        {% for player in qbs %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ player.name }}</td>
          <td>{{ player.acquired }}</td>
          <td>
            {% if player.auction_price %} {{ player.auction_price }} {% endif %}
          </td>
          <td>
            {% if player.rookie_pick %} {{ player.rookie_pick }} {% endif %}
          </td>
          <td>
            {% if player.waiver_price %} {{ player.waiver_price }} {% endif %}
          </td>
        </tr>
        {% endfor %}
        <tr class="background-team">
          <td>RB</td>
          <td>Player</td>
          <td>Acquired</td>
          <td>Auction Price</td>
          <td>Rookie Pick</td>
          <td>Waiver Price</td>
        </tr>
        {% for player in rbs %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ player.name }}</td>
          <td>{{ player.acquired }}</td>
          <td>
            {% if player.auction_price %} {{ player.auction_price }} {% endif %}
          </td>
          <td>
            {% if player.rookie_pick %} {{ player.rookie_pick }} {% endif %}
          </td>
          <td>
            {% if player.waiver_price %} {{ player.waiver_price }} {% endif %}
          </td>
        </tr>
        {% endfor %}
        <tr class="background-team">
          <td>WR</td>
          <td>Player</td>
          <td>Acquired</td>
          <td>Auction Price</td>
          <td>Rookie Pick</td>
          <td>Waiver Price</td>
        </tr>
        {% for player in wrs %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ player.name }}</td>
          <td>{{ player.acquired }}</td>
          <td>
            {% if player.auction_price %} {{ player.auction_price }} {% endif %}
          </td>
          <td>
            {% if player.rookie_pick %} {{ player.rookie_pick }} {% endif %}
          </td>
          <td>
            {% if player.waiver_price %} {{ player.waiver_price }} {% endif %}
          </td>
        </tr>
        {% endfor %}
        <tr class="background-team">
          <td>TE</td>
          <td>Player</td>
          <td>Acquired</td>
          <td>Auction Price</td>
          <td>Rookie Pick</td>
          <td>Waiver Price</td>
        </tr>
        {% for player in tes %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ player.name }}</td>
          <td>{{ player.acquired }}</td>
          <td>
            {% if player.auction_price %} {{ player.auction_price }} {% endif %}
          </td>
          <td>
            {% if player.rookie_pick %} {{ player.rookie_pick }} {% endif %} </td>
          <td>
            {% if player.waiver_price %} {{ player.waiver_price }} {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="ui horizontal segments">
      <div class="ui segment">
        <div class="row">
          <h3 class="ui header">All Eyes On - {{ object.all_eyes_on_player.name }}</h3>
          <p>
            {{ object.all_eyes_on }}
            <img
            class="ui large image"
            src="{{ object.all_eyes_on_image.url }}"
            />
          </p>
        </div>
      </div>
      <div class="ui segment">
        <h3 class="ui header">X-Factor - {{ object.x_factor_player.name }}</h3>
        <p>
          {{ object.x_factor }}
          <img
          class="ui large image"
          src="{{ object.x_factor_image.url }}"
          />
        </p>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui center aligned segment right-sidebar">
      <img class="ui image" src="{{ object.logo.url }}" />
      <div class="ui circular segment background-team">
        <div class="prediction-text">2019</div>
        <div class="prediction-text">Predictions</div>
        <h2 class="ui header prediction-place">
          <span>{{ object.prediction_place }}</span>
          <span>{{ object.prediction_place_suffix }}</span>
          <div class="sub header">{{ object.prediction_record }}</div>
        </h2>
      </div>
      {% if object.last_year_record %}
      <div class="ui medium header">2018 Record</div>
      <div>{{ object.last_year_record }}</div>
      <div class="ui tiny header">Points per game</div>
      <div>{{ object.last_year_ppg|floatformat:2 }}</div>
      <div class="ui tiny header">Points against per game</div>
      <div>{{ object.last_year_papg|floatformat:2 }}</div>
      <h4 class="ui horizontal divider team">Wins trend</h4>
      <canvas id="myChart" width="400" height="400"></canvas>
      {% endif %}
      <h4 class="ui horizontal divider team">History</h4>
      <div class="ui tiny header">All time Record</div>
      <div>{{ total_wins }} - {{ total_losses }}</div>
      <div class="ui tiny header">Playoff Appearences</div>
      <div>{{ playoffs|join:", " }}</div>
      <div class="ui tiny header">Playoff Record</div>
      <div>{{ playoff_wins }} - {{ playoff_losses }}</div>
      <div class="ui tiny header">Championships</div>
      <div>{{ championships|join:", " }}</div>
      <div class="ui tiny header">Runner up</div>
      <div>{{ runner_ups|join:", " }}</div>
      <h4 class="ui horizontal divider team">Top Assets</h4>
      <div class="ui ordered list">
        {% for asset in object.asset_players.all %}
        <a class="item">{{ asset.player.name }}, {{ asset.player.position }}</a>
        {% endfor %}
      </div>
      <h4 class="ui horizontal divider team">Key Moves</h4>
      <div class="ui tiny header">Additions</div>
      <div class="ui unordered list">
        {% for key in object.add_key_players.all %}
        <a class="item">{{ key.player.name }} ({{ key.type }})</a>
        {% endfor %}
      </div>
      <div class="ui tiny header">Subtractions</div>
      <div class="ui unordered list">
        {% for key in object.sub_key_players.all %}
        <a class="item">{{ key.player.name }} ({{ key.type }})</a>
        {% endfor %}
      </div>
    </div>
    <div>
        <img
          class="ui image"
          src="{{ object.scouting_report_image.url }}"
        />
        <h2 class="ui header team">Scouting Recport</h2>
        <i>{{ object.scouting_report }}</i>
    </div>
    <div>
      <h4 class="ui horizontal divider"></h4>
      <h2 class="ui header team">Rookie Report</h2>
      <table class="ui very compact striped table">
        <tbody>
          <tr class="positive">
            <td class="one wide">Pick</td>
            <td class="two wide">Player</td>
            <td class="two wide">Stars</td>
          </tr>
          {% for player in object.rookie_rookie_player.all %}
          <tr>
            <td>{{ player.pick }}</td>
            <td>{{ player.player.name }}</td>
            <td>
              <div class="ui mini star rating" data-rating="{{ player.stars }}" data-max-rating="5"></div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div>
      <h4 class="ui horizontal divider"></h4>
      <h2 class="ui header team">Keys To Championship - {{ object.key_to_championship_title }}</h2>
      <p>
        {{ object.key_to_championship }}
      </p>
    </div>
  </div>
</div>
{% endblock content %}
{% block extra_script %}
<script>
  var ctx = document.getElementById("myChart").getContext("2d");
  var myChart = new Chart(ctx, {
    type: "bar",
    data: {
      labels: {{ years }},
      datasets: [
        {
          label: "# Wins",
          data: {{ wins }},
          backgroundColor: "{{ object.base_color }}",
          borderColor: "{{ object.secondary_color }}",
          borderWidth: 1
        }
      ]
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
              min: 0,
              max: 13
            }
          }
        ]
      }
    }
  });
</script>
<script type="text/javascript">
  $(document).ready(function(){$(".rating").rating('disable');});
</script>
{% endblock extra_script %}
